[Unit]
Description=Spark Master
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
Environment=SPARK_HOME={{ spark_home }}
WorkingDirectory={{ spark_home }}
ExecStart={{ spark_home }}/sbin/start-master.sh
User={{ user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
