[Unit]
Description=Jupyter Lab
After=network.target

[Service]
Environment=SPARK_HOME={{ spark_home }}
Environment=VIRTUAL_ENV={{ venv_dir }}
Environment=PATH={{ venv_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PYSPARK_PYTHON={{ venv_dir }}/bin/python
Environment=PYSPARK_DRIVER_PYTHON={{ venv_dir }}/bin/python
ExecStart={{ venv_dir }}/bin/jupyter lab --config={{ home }}/.jupyter/jupyter_notebook_config.py
User={{ user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
